body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-container .form-group {
    margin-bottom: 15px;
}

.form-container label {
    display: flex;
    margin-bottom: 5px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group.gender-group {
    display: flex;
    flex-direction: column;
}

.gender-options {
    display: flex;
    align-items: center;
    gap: 20px;
}

.gender-options label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    cursor: pointer;
}

.form-group.country-group {
    display: flex;
    flex-direction: column;
}

.form-group.country-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 50%;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}


.success {
    color: green;
    text-align: center;
    margin-top: 20px;
}
.term-input{
    display: flex;
    flex-direction: column;
}

.submit-btn {
    background-color: yellowgreen;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.submit-btn:hover {
    background-color: #45a049;
}